<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAgent</title>

    <!-- Widget JavaScript bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script>
        pdfjsLib.GlobalWorkerOptions.workerSrc = "https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js";
    </script>
</head>

<body>
    <form id="index_form" action="/" method="POST" enctype="multipart/form-data">
        <b style="float: right; text-align: right;">{{ user_version_info }}</b>
        </br></br>
        <div id="controlDiv" class="form-box">
            <button type="button" id="loadImageFolderButton">Carregar pasta</button>
            <label for="nome_titular">Nome do Titular:</label>
            <input type="text" id="nome_titular" name="nome_titular">
            <label for="quantidade_dependentes">Quantidade de Dependentes:</label>
            <input type="number" id="quantidade_dependentes" name="quantidade_dependentes" min="0" value="0">
        </div>
    </form>
    <button type="button" id="validaDocumentosButton">Valida documentos</button>
    <button type="button" id="validaTitularButton">Valida titular</button>
    <!-- style="display: none;" -->
    </div>
    <div id="bulk-result-container"
        style="display: none; background-color: lightgray; padding: 10px; margin-top: 10px; border: 1px solid #ccc;">
        <h3>Resultado da validação</h3>
        <pre id="bulk-api-result"
            style="white-space: pre-wrap; word-wrap: break-word; background-color: #fff; padding: 10px; border: 1px solid #ccc;"></pre>
    </div>
    <div id="image-container"></div>
    </form>

    <script>
        const token = "{{ token }}";
        const val_docs_api = "{{ val_docs_api }}";

        //const form = document.querySelector("form");

        const imageContainer = document.getElementById('image-container');
        const fileInputElement = document.createElement('input');
        fileInputElement.type = 'file';

        const controlDiv  = document.getElementById("controlDiv");
        const loadImageFolderButton = document.getElementById("loadImageFolderButton");
        const validaDocumentosButton = document.getElementById("validaDocumentosButton");
        const validaTitularButton = document.getElementById("validaTitularButton");

        const bulkResultContainer = document.getElementById('bulk-result-container');
        const bulkApiResult = document.getElementById('bulk-api-result');

        loadImageFolderButton.addEventListener("click", async function () {
            fileInputElement.webkitdirectory = true;
            fileInputElement.click();
        });

        fileInputElement.onchange = async e => {
            const files = e.target.files;
            //imageContainer.innerHTML = ''; // Clear previous results - for now, accumulating. Delete button can be used or reload the page
            for (const file of files) {
                if (file.type.startsWith('image/') || file.type === 'application/pdf') {
                    loadFile(file)
                }
            }
        };

        function loadFile(file) {
            const fileDivElement = createFileDivElement(file);
            fileDivElement.fileObject = file; // Store file object for bulk processing
            imageContainer.appendChild(fileDivElement);
            showImageFile(fileDivElement, file);
            const deleteButton = fileDivElement.querySelector('.delete-element-button');
            deleteButton.addEventListener('click', () => {
                fileDivElement.remove();
            });
        }

        function createFileDivElement(file) {
            const fileDivElement = document.createElement('div');
            fileDivElement.className = 'image-and-result-visualization';
            var filename = file.name;
            if (fileInputElement.webkitdirectory)
                filename = file.webkitRelativePath;
            fileDivElement.innerHTML = `
                                <div style="flex: 1; overflow-x: auto;">
                                    <h3>${filename}</h3>
                                    <button type="button" class="delete-element-button">Deleta</button>
                                    <img style="max-width: 100%; height: auto;" alt="${file.name}">
                                </div>
                            `;
            return fileDivElement;
        }

        function showImageFile(fileDivElement, file) {
            const imgElement = fileDivElement.querySelector('img');
            if (file.type === 'application/pdf') {
                const reader = new FileReader();
                reader.onload = async function (event) {
                    const pdfData = new Uint8Array(event.target.result);
                    const pdf = await pdfjsLib.getDocument({ data: pdfData }).promise;
                    const page = await pdf.getPage(1);
                    const viewport = page.getViewport({ scale: 1.5 });
                    const canvas = document.createElement('canvas');
                    const context = canvas.getContext('2d');
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;
                    await page.render({ canvasContext: context, viewport: viewport }).promise;
                    imgElement.src = canvas.toDataURL();
                };
                reader.readAsArrayBuffer(file);
            } else {
                imgElement.src = URL.createObjectURL(file);
            }
        }


        //validaDocumentosButton.addEventListener("click", () => callApi(val_docs_api + "val_docs/"));
        validaDocumentosButton.addEventListener("click", () => sendFiles(val_docs_api));
        validaTitularButton.addEventListener("click", () => sendFiles(val_docs_api + "val_tit/"));

        async function sendFiles(api) {
            const fileDivElements = document.querySelectorAll('.image-and-result-visualization');
            if (fileDivElements.length === 0) {
                alert("Nenhum arquivo para processar.");
                return;
            }
            const formData = new FormData();
            const nomeTitular = document.getElementById('nome_titular').value;
            const quantidadeDependentes = document.getElementById('quantidade_dependentes').value;
            formData.append('nome_titular', nomeTitular);
            formData.append('quantidade_dependentes', quantidadeDependentes);
            let fileCount = 0;
            for (const fileDivElement of fileDivElements) {
                if (fileDivElement.fileObject) {
                    const file = fileDivElement.fileObject;
                    console.log("filename" + file.name);
                    formData.append(file.name, file);
                    //formData.append("files", file); // Use a consistent field name for all files
                    fileCount++;
                }
            }
            if (fileCount === 0) {
                alert("Nenhum arquivo encontrado nos elementos da página.");
                return;
            }
            controlDiv.style.display = "none";
            bulkResultContainer.style.display = 'block';
            bulkApiResult.textContent = `Enviando ${fileCount} arquivo(s) para a API...`;

            try {
                const result = await callApi(api, formData);
                bulkApiResult.textContent = result;
            } catch (error) {
                bulkApiResult.textContent = `Erro na chamada ${api}: ${error}`;
            } finally {
                controlDiv.style.display = "block";
            }
        }

        async function callApi(api, formData) {
            console.log(`Calling API ${api}`);
            const response = await fetch(api, {
                method: "POST",
                headers: {
                    "Authorization": `Bearer ${token}`
                },
                body: formData,
            });
            if (response.ok) {
                console.log("Response ok");
                return await response.text();
            } else {
                console.log("Response error");
                const serverError = await response.text();
                const errorText = `API response error: ${response.status} - ${serverError}`
                throw errorText;
            }
        }

    </script>
</body>

</html>